<div class="container">
  <div class="row">
    <div class="col-xs-10 bordered img-back tall">

    </div>
    <div class="col-xs-2 bordered img-back small">

    </div>
    <div class="col-xs-2 bordered img-back medium">

    </div>
    <div class="col-xs-2 bordered img-back small">

    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 bordered img-back small">

    </div>
    <div class="col-xs-2 bordered img-back small">

    </div>
    <div class="col-xs-4 bordered img-back small">

    </div>
    <div class="col-xs-2 bordered img-back small">

    </div>
  </div>
</div>
